/* Structure */
.container {
  display: flex;
  flex-direction: column;
  min-width: 900px;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 8%;
  margin-right: 10px;

  picture img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 5%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 7%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
  flex: 0 0 65%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5){
  flex: 0 0 12%;
}

