<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    Id: {{data.id}}
    <p></p>
    AlbumId: {{data.albumId}}
    <p></p>
    Title: {{data.title}}
    <p></p>
      <picture>
        <img mat-card-image [src]="data.url" alt="">
      </picture>
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
