/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #f4f4f4;overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 16px;}
@media screen and (max-width: 900px) {
  body {
    overflow-x: scroll;
  }
}
